[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp.git
[submodule "submodules/im3d"]
	path = submodules/im3d
	url = https://github.com/john-chapman/im3d.git
[submodule "submodules/volk"]
	path = submodules/volk
	url = https://github.com/zeux/volk.git
[submodule "submodules/shaderc"]
	path = submodules/shaderc
	url = https://github.com/google/shaderc.git
[submodule "submodules/glslang"]
	path = submodules/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "submodules/SPIRV-tools"]
	path = submodules/SPIRV-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "submodules/SPIRV-headers"]
	path = submodules/SPIRV-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "submodules/sdl"]
	path = submodules/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "submodules/slang"]
	path = submodules/slang
	url = https://github.com/shader-slang/slang.git
